.block-lead-capture
{
    clear: both;
    padding: 60px 0;
    background: #0072bc url(../img/block-lead-capture.jpg) no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
}
.block-lead-capture
{
    .node > h2
    {
        display: none;
    }
    h2
    {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 3em;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    }
    h3
    {
        font-weight: 300;
        font-size: 1.65em;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    }
    p
    {
        font-weight: 300;
        font-size: 0.9em;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    }

    form
    {
        margin: 30px auto 0 auto;
        max-width: 940px;
        font-size: 0;
    }
    .form-item,
    .form-actions
    {
        display: inline-block;
        width: 31%;
        margin: 0 1.1666%;
    }
    input
    {
        width: 100%;
        display: block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border: 0;
        border-radius: 5px;
        background: white;
        font-size: 20px;
    }
    .form-submit
    {
        color: white;
        background: $blue-dark;
        text-transform: uppercase;
        font-weight: 600;
        text-shadow: none;
        cursor: pointer;
    }
    label
    {
        position: absolute;
        left: -99999px;
    }
}
