a
{
    text-decoration: underline;
    color: $blue-light;
}

p
{
    margin-bottom: 0.75em;
}

ul, ol
{
    margin-left: 25px;
    margin-bottom: 0.8em;
}

h1
{
    font-size: 3em;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}
